menu {
    display: block;
    user-select: none;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.home, .about, .reels, .community, .brief, .blog {
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
    width: 175px;
    height: 40px;
    margin-left: 30px;
    margin-top: 35px;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    transition: all ease 0.5s;
}
.home:hover, .about:hover, .reels:hover, .community:hover, .brief:hover, .blog:hover {
    background-color: #6541ac4f;
    font-size: 20px;
}