.toggle-btn {
    border-radius: 25px;
    width: 70px;
    height: 70px;
    background: none;
    border: none;
    float: right;
    margin-top: 250px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.sidebar {
    position: fixed;
    background-color: #24193ac5;
    width: 500px;
    height: 850px;
    top: 30px;
    border-radius: 50px;
    right: -500px;
    border: 2px solid white;
    box-shadow: -8px -8px 20px white;
    transition: right 0.5s ease-in-out; 
}
.sidebar-list {
    display: block;
    margin-top: 125px;
    margin-left: 175px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
    width: 175px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    transition: all ease 0.5s;
}
.sidebar-list:hover {
    background-color: #6541ac4f;
    font-size: 24px;
}
.sidebar.open {
    right: 0px;
}
.toggle-btn:hover {
    background-color: #6541ac4f;
}